<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= (current_page.data.title ? "#{current_page.data.title} // " : "") + "Maria Szubski • Web Development Consultant" %></title>
    <%= stylesheet_link_tag "site" %>

    <% if current_page.data.code %>
      <%= stylesheet_link_tag "prism" %>
      <%= javascript_include_tag "prism" %>
    <% end %>

    <% if current_page.data.slides %>
      <%= stylesheet_link_tag "slick" %>
      <%= javascript_include_tag "//code.jquery.com/jquery-1.11.0.min.js" %>
      <%= javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js" %>
      <%= javascript_include_tag "slick" %>
    <% end %>

    <%= javascript_include_tag "site" %>
    <%= partial 'partials/favicon' %>
  </head>
  <body>
    <%= partial 'partials/nav' %>
    <section class="content" id="<%= current_page.data.id %>">
      <%= yield %>
    </section>
    <%= partial 'partials/footer' %>
    <%= google_analytics_tag =%>
  </body>
</html>
