<footer>
  <%= image_tag 'logo_blue.svg', :alt => 'Maria Szubski Digital Logo', :class => 'logo' %>
	<div id="social-links">
		<a href="https://www.linkedin.com/in/MariaSzubski" target="_blank"><div><%= image_tag 'soc_linkedin.svg', :alt => 'LinkedIn' %></div>LinkedIn</a>
		<a href="https://github.com/MariaSzubski" target="_blank"><div><%= image_tag 'soc_github.svg', :alt => 'GitHub' %></div>GitHub</a>
		<a href="https://twitter.com/MariaSzubski" target="_blank"><div><%= image_tag 'soc_twitter.svg', :alt => 'Twitter' %></div>Twitter</a>
		<a href="mailto:hello@mariaszubski.com" target="_blank"><div><%= image_tag 'soc_email.svg', :alt => 'Email Me' %></div>Email</a>
	</div>
	<div id="copyright">
    <div>&copy;2018 Maria Szubski Digital, LLC</div>
	</div>
</footer>