<nav>
	<a id="nav-menu">Menu</a>
	<%= link_to 'Home', '/' %>
	<%= link_to 'Projects', 'projects' %>
  <%= link_to 'Experience', 'experience' %>
  <%= link_to 'Involvement', 'involvement' %>
  <%= link_to 'Let\'s Connect', 'projects', :id => 'nav-contact' %>
</nav>