<article>
  <h4>Graphic Design Intern</h4>
  <h5><a href="http://momentdesign.com/" target="_blank">Moment Design</a> &nbsp;//&nbsp; Digital Product Design Firm</h5>
  <p>Created designs that improved usability and consistency of data-driven web and mobile products. Researched rapid prototyping tools to accelerate output.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Winter 2018
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>New York, NY</h6>
</article>

<article>
  <h4>Interactive Design Intern</h4>
  <h5><a href="http://www.antfarm.net/" target="_blank">The Ant Farm</a> &nbsp;//&nbsp; Entertainment Advertising Agency</h5>
  <p>Developed jQuery-based site to promote company accomplishments. Created assets for ad campaigns, including website designs and social media themes.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Winter &amp; Summer 2011
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Los Angeles, CA</h6>
</article>

<article>
  <h4>Digital Design Intern</h4>
  <h5><a href="http://www.jcpenney.com/" target="_blank">JCPenney</a> &nbsp;//&nbsp; IT Innovations Department</h5>
  <p>Redesigned large-format kiosk and iPad app UI to improve in-store shopping experience. Pitched concepts for digital shopping experiences.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Summer 2010
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Plano, TX</h6>
</article>

<article>
  <h4>Graphic Design Intern</h4>
  <h5><a href="http://www.chesapeakegrp.com/" target="_blank">Chesapeake Group</a> &nbsp;//&nbsp; Packaging &amp; Branding Firm</h5>
  <p>Assembled packaging samples for user tests. Shot photography for sales materials. Pitched concepts for a line of educational toys.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Winter 2010
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Cincinnati, OH</h6>
</article>

<article>
  <h4>Web Design Intern</h4>
  <h5><a href="http://www.evenflo.com/" target="_blank">Evenflo</a> &nbsp;//&nbsp; Marketing Department</h5>
  <p>Built interactive guides in Flash that walked customers through installation and use of company’s products. Maintained internal CMS and social networks.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Summer 2009
      <%= image_tag 'i_loc.svg', :alt => 'Location', :class => 'i i_loc' %>Miamisburg, OH</h6>
</article>