<article>
  <h4>Chapter Co-Leader & Instructor</h4>
  <h5><a href="https://www.girldevelopit.com/chapters/cincinnati" target="_blank">Girl Develop It</a> &nbsp;//&nbsp; Cincinnati Chapter</h5>
  <p>Responsible for leading and supporting a vibrant community of instructors, volunteers, and students. Co-Leader helping to plan quarterly course schedule, promote events, foster community partnerships, grow the chapter, and run day-to-day operations. Event Coordinator in charge overseeing meetup organizers.</p>
  <h6><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Apr 2018 – Present</h6>
  </p>
</article>

<article>
  <h4>Classes Taught</h4>
    <ul>
      <li>
        <span class="h6"><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Oct 2018</span>
        <span><%= image_tag 'i_presentation.svg', :alt => 'Presentation', :class => 'i i_pres' %>Web Accessibility Workshop</span>
      </li>
      <li>
        <span class="h6"><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Apr 2018</span>
        <span><%= image_tag 'i_presentation.svg', :alt => 'Presentation', :class => 'i i_pres' %>Code Your First Website: Intro to HTML &amp; CSS</span>
      </li>
      <li>
        <span class="h6"><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Jan 2018</span>
        <span><%= image_tag 'i_presentation.svg', :alt => 'Presentation', :class => 'i i_pres' %>Code Your First Website: New Year's Edition</span>
    </li>
    </ul>
</article>

<article>
  <h4>Class Organizer</h4>
  <h6 class="no_gap"><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Jul 2017 – Apr 2018</h6>
</article>

<article>
  <h4>Teaching Assistant</h4>
  <h6 class="no_gap"><%= image_tag 'i_date.svg', :alt => 'Date', :class => 'i' %>Nov 2015 – Jul 2017</h6>
</article>